/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
/* All Common Css End */
/* Header Part Start  */
.header {
  padding: 15px 0;
  /* width: 100%; */
  background: #283a5e;
  display: flex;
  color: white;
  font-size: 16px;
  /* position: fixed;
  top: 0;
  left: 0; */
}
.header .location_mail {
  width: 50%;
  margin-left: 100px;
}
.header i {
  margin-left: 25px;
}
.header p {
  display: inline-block;
}
.header .icons_donation{
    margin-left: 140px;
}
.header .icons_donation a {
  color: white;
  transition: .4s;
}
.header .icons_donation a:hover{
  color: #7DB1F0;
}
.donate{
    padding: 16px 26px;
    margin-left: 20px;
    background: #00D9D7;
}


#header_part {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.nav_bar{
  padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{

}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    padding: 0 15px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    transition: .4s;
    line-height: 100px
}
.menu ul li a:hover{
    color: #029CA5;
}

.nav_icon{
  margin-right: 40px;
  display: flex;
  column-gap: 10px;

}
.nav_bar .search {
    padding: 17px 17px;
    border-radius: 50%;
    background: #496F95;
    
}
.nav_bar .shop {
  padding: 17px 17px;
  border-radius: 50%;
  background: #496F95;
}
.nav_icon a{
  color: white;
  transition: .4s;
}
.nav_icon a:hover{
  color: #283A5E;
}
/* Header Part End */
#Banner_part{
  background: url(../images/slide-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay{
  padding: 500px 0;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
}
.short_one h1{
  padding: 7px 23px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  color: white;
  font-family: "Source Sans 3", serif;
  font-size: 19px;
  border-radius: 25px;
}

/* Banner Part Start  */

/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */
