/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.container {
  width: 1320px;
  margin: 0 auto;
}
/* All Common Css End */
/* Header Part Start  */
.header {
  padding: 15px 0;
  background: #283a5e;
  display: flex;
  color: white;
  font-size: 16px;
}
.header .location_mail {
  width: 50%;
  margin-left: 100px;
}
.header i {
  margin-left: 25px;
}
.header p {
  display: inline-block;
}
.header .icons_donation a {
  color: white;
}
.donate{
    padding: 46px 50px;
}

#header_part {
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}

/* Header Part End */
