/* All Common Css Start  */
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", serif;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
}
.container {
  width: 1320px;
  margin: 0 auto;
  max-width: 100%;
}
/* All Common Css End */

.header {
  padding: 15px 0;
  /* width: 100%; */
  background: #283a5e;
  display: flex;
  color: white;
  font-size: 16px;
  /* position: fixed;
  top: 0;
  left: 0; */
}
.header .location_mail {
  width: 50%;
  margin-left: 100px;
}
.header i {
  margin-left: 25px;
}
.header p {
  display: inline-block;
}
.header .icons_donation {
  margin-left: 140px;
}
.header .icons_donation a {
  color: white;
  transition: 0.4s;
}
.header .icons_donation a:hover {
  color: #7db1f0;
}
.donate {
  padding: 16px 26px;
  margin-left: 20px;
  background: #00d9d7;
}

/* Header Part Start  */
#header_part {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 1px white;
  z-index: 2;
}
.nav_bar {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
  padding: 0 15px;
  color: white;
  font-size: 16px;
  font-family: "Source Sans 3", serif;
  text-transform: uppercase;
  transition: 0.4s;
  line-height: 100px;
}
.menu ul li a:hover {
  color: #029ca5;
}

.nav_icon {
  margin-right: 40px;
  display: flex;
  column-gap: 10px;
}
.nav_bar .search {
  padding: 17px 20px;
  border-radius: 50%;
  background: #496f95;
}
.nav_bar .shop {
  padding: 17px 20px;
  border-radius: 50%;
  background: #496f95;
}
.nav_icon a {
  color: white;
  transition: 0.4s;
}
.nav_icon a:hover {
  color: #283a5e;
}
/* Header Part End */

/* Banner Part Start  */
#Banner_part {
  width: 100%;
}
.banner_image {
  background: url(../images/slide-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  padding: 362px 0 267px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.short_one p {
  padding: 7px 23px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  color: white;
  font-family: "Source Sans 3", serif;
  font-size: 19px;
  border-radius: 25px;
}
.overlay_heading h1 {
  padding: 0 318px;
  color: white;
  font-size: 55px;
  line-height: 90px;
  font-family: "Source Sans 3", serif;
}
.short_two a {
  padding: 11px 26px;
  background: linear-gradient(
    90deg,
    rgba(6, 181, 226, 1) 0%,
    rgba(21, 196, 196, 1) 100%
  );
  display: inline-block;
  color: white;
  font-family: "Source Sans 3", serif;
  font-size: 19px;
  border-radius: 25px;
  box-shadow: rgba(0, 167, 213, 0.5) 0px 0px 0px 5px;
  transition: 0.5s;
}
.short_two a:hover {
  background: linear-gradient(
    90deg,
    rgba(21, 196, 196, 1) 0%,
    rgba(6, 181, 226, 1) 100%
  );
}
/* Banner Part End */

/* About Part Start  */
#about_part {
  padding: 120px 0 70px;
}
.about_image_text {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.about_image_text .about_image {
  width: 50%;
}
.about_image img {
  width: 100%;
}
.about_image_text .about_text {
  padding-left: 70px;
  width: 50%;
}
.about_text .title {
  color: #00b6d7;
  font-size: 20px;
  font-weight: 600;
  font-family: "Source Sans 3", serif;
}
.about_text h2 {
  padding: 0 118px 0 0;
  color: #242f6c;
  font-size: 46px;
  font-weight: 800;
  font-family: "Source Sans 3", serif;
  line-height: 60px;
}
.about_text p {
  padding-top: 40px;
  padding-right: 70px;
  color: #777777;
  font-size: 20px;
  font-family: "Source Sans 3", serif;
  line-height: 34px;
}

.about_btn_icon_link {
  margin-top: 36px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  column-gap: 19px;
}
.about_btn a {
  padding: 11px 26px;
  background: linear-gradient(
    90deg,
    rgba(6, 181, 226, 1) 0%,
    rgba(21, 196, 196, 1) 100%
  );
  display: inline-block;
  color: white;
  font-family: "Source Sans 3", serif;
  font-size: 19px;
  border-radius: 25px;
  box-shadow: rgba(0, 167, 213, 0.5) 0px 0px 0px 5px;
  transition: 0.5s;
}
.about_btn a:hover {
  background: linear-gradient(
    90deg,
    rgba(21, 196, 196, 1) 0%,
    rgba(6, 181, 226, 1) 100%
  );
}
.about_icon a {
  color: #00a7d5;
  font-size: 50px;
}
.about_link a {
  color: #00a7d5;
  font-size: 20px;
  font-weight: 600;
  font-family: "Source Sans 3", serif;
  text-decoration: underline;
}
/* About Part End */

/* Time Part Start  */
#time_part {
  padding-top: 10px;
  padding-bottom: 50px;
}
.time_bg {
  background: #ebfafa;
  position: relative;
}
.time_flex {
  display: flex;
  padding: 80px;
}
.time_text {
  width: 50%;
}
.time_text h1 {
  font-size: 45px;
  color: #242f6c;
}
.time_text .p_one {
  font-size: 21px;
  color: #333333;
  padding-top: 22px;
  padding-bottom: 15px;
}
.time_text .p_two {
  font-size: 21px;
  color: #08b3c0;
  text-decoration: underline;
}
.time_prayer {
  width: 50%;
  row-gap: 20px;
}
.time_prayer_one {
  width: 80%;
  background: #b4f0f7;
  border-radius: 12px;
  margin-left: auto;
  margin-bottom: 10px;
}
.time_prayer_one p {
  padding: 20px 25px;
  color: #02a0a5;
  display: inline-block;
  font-size: 24px;
}
.time_prayer_one .time_prayer_one_t {
  padding-left: 293px;
}
.time_prayer_two {
  width: 80%;
  background: #f1e1db;
  border-radius: 12px;
  margin-bottom: 10px;
}
.time_prayer_two p {
  padding: 20px 25px;
  color: #df8f73;
  display: inline-block;
  font-size: 24px;
}
.time_prayer_two .time_prayer_two_t {
  padding-left: 255px;
}
.time_prayer_three {
  width: 80%;
  background: #d4ddf9;
  border-radius: 12px;
  margin-left: auto;
  margin-bottom: 10px;
}
.time_prayer_three p {
  padding: 20px 25px;
  color: #6d64ff;
  display: inline-block;
  font-size: 24px;
}
.time_prayer_three .time_prayer_three_t {
  padding-left: 268px;
}
.time_prayer_four {
  width: 80%;
  background: #bff1dc;
  border-radius: 12px;
  margin-bottom: 10px;
}
.time_prayer_four p {
  padding: 20px 25px;
  color: #44a884;
  display: inline-block;
  font-size: 24px;
}
.time_prayer_four .time_prayer_four_t {
  padding-left: 299px;
}
.time_prayer_five {
  width: 80%;
  background: #f1dfe9;
  border-radius: 12px;
  margin-left: auto;
  margin-bottom: 10px;
}
.time_prayer_five p {
  padding: 20px 25px;
  color: #ee76ba;
  display: inline-block;
  font-size: 24px;
  margin-bottom: 10px;
}
.time_prayer_five .time_prayer_five_t {
  padding-left: 248px;
}
.time_prayer_six {
  width: 80%;
  background: #b4eff7;
  border-radius: 12px;
}
.time_prayer_six p {
  padding: 20px 25px;
  color: #419fa2;
  display: inline-block;
  font-size: 24px;
}
.time_prayer_six .time_prayer_six_t {
  padding-left: 270px;
}
.time_prayer_images .time_prayer_image_one {
  position: absolute;
  bottom: -34px;
  left: -45px;
}
.time_prayer_image_two {
  position: absolute;
  bottom: 63px;
  left: 235px;
}
.time_prayer_image_three {
  position: absolute;
  bottom: 0px;
  left: -179px;
}
/* Time Part End */

/* Offer Part Start  */
#offer_part {
  padding-top: 100px;
  padding-bottom: 10px;
  margin-bottom: 70px;
}
.common_title {
  text-align: center;
  padding-bottom: 70px;
}
.common_title p {
  font-size: 24px;
  font-weight: 500;
  color: #00c3d7;
}
.common_title h1 {
  font-size: 47px;
  font-weight: 700;
  color: #242f6c;
}
.offer_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}
.offer_flex_one {
  padding-bottom: 10px;
  text-align: center;
  width: 30%;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.16);
  transition: 0.4s;
}
.offer_flex_one:hover {
  -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.23);
}
.offer_flex_one img {
  width: 100%;
}
.offer_flex_one h2 {
  color: #242f6c;
  font-size: 32px;
  font-weight: 500;
  transition: 0.4s;
}
.offer_flex_one h2:hover {
  color: #029ca5;
}

/* Offer Part End */

/* Payment Part Start  */
#payment_part {
  padding-top: 2px;
  padding-bottom: 120px;
}
.payment_part_bg{
  background: url(../images/paymentbg.jpg);
}
.payment_flex {
  padding: 120px 0;
  display: flex;
}
.payment_flex_one {
  width: 50%;
  padding-right: 50px;
}
.payment_flex_one h5 {
  font-size: 20px;
  font-weight: 600;
  color: #00ded8;
}
.payment_flex_one h1 {
  color: #242f6c;
  font-size: 50px;
  line-height: 70px;
  padding-right: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.payment_flex_one p {
  color: #777777;
  font-size: 20px;
  line-height: 38px;
  padding-right: 208px;
}
.payment_flex_two {
  width: 50%;
  padding-left: 50px;
}
.payment_flex_two h1 {
  padding-bottom: 25px;
  color: #242f6c;
  font-size: 50px;
  line-height: 70px;
}
.payment_flex_two input {
  height: 60px;
  width: 260px;
  padding-left: 30px;
  font-size: 18px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 0;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(158, 255, 254, 1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(158, 255, 254, 1);
  box-shadow: 0px 0px 6px 0px rgba(158, 255, 254, 1);
}
.payment_flex_two .donate_btn {
  text-align: center;
  margin-right: 9px;
  padding: 27px 0;
}
.payment_flex_two .donate_btn a {
  padding: 27px 245px;
  color: #ffffff;
  font-size: 21px;
  background: rgb(39, 173, 207);
  background: linear-gradient(
    90deg,
    rgba(39, 173, 207, 1) 0%,
    rgba(28, 223, 220, 1) 100%
  );
}
.payment_flex_two .donate_btn a:hover {
  background: rgb(28, 223, 220);
  background: linear-gradient(
    90deg,
    rgba(28, 223, 220, 1) 0%,
    rgba(39, 173, 207, 1) 100%
  );
}
/* Payment Part End */

/* Event Part Start  */
#event_part{
  padding-bottom: 10px;
}
.event_flex{
  display: flex;
}
.event_flex_one{
  display: flex;
  width: 50%;
}
.event_flex_one_image{
  width: 50%;
}
.event_flex_one_image img{
  width: 100%;
}
.event_flex_one_text{
  padding-left: 30px;
}

.event_flex_one_text h2{
  font-size: 29px;
  font-weight: 700;
  color: #242f6c;
}
.event_flex_one_text ul li{
  display: inline-block;
  color: #525252;
  font-size: 20px;
}
.event_flex_one_text .n_city{
  margin-left: 15px;
}
.event_flex_one_text p{
 font-size: 20px;
 font-weight: 400;
 color: #777777;
 line-height: 28px;
}
.event_flex_one_text a{
  color: #0383c4;
  font-size: 19px;
  font-weight: 600;
}
/* Event Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */

/* Banner Part Start  */
/* Banner Part End */
